@use './globals';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  z-index: 1;
}

body {
  background: rgb(2, 2, 26);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  animation: move 1s linear infinite forwards;

  &::before {
    content: "";
    @include bg-circles;
    background: rgb(0, 255, 255);
  }
  &::after {
    content: "";
    @include bg-circles;
    top: 200px;
    left: 250px;
    background: rgb(183, 0, 255);
  }
}

html {
  scroll-behavior: smooth;
}

.bg-circle1 {
  @include bg-circles;
  top: 0px;
  right: 0px;
  background: rgb(0, 255, 255);
}
.bg-circle2 {
  @include bg-circles;
  bottom: 100px;
  right: 250px;
  background: rgb(183, 0, 255);
}
::-webkit-scrollbar {
  width: 0;
}


.container {
  @include container;
}

@media (max-width: 500px) {
  .container {
    width: $phone-width;
  }
}
